Repository Pavlo165/BeStrong_PDF_recognition: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dev/functions.yml, pipelines/dev/terrafrom.yml

pipelines/dev/functions.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and Push Archive to ACR
    jobs:
    - job: BuildAndPushJob
      displayName: Create Archive and Push to ACR
      steps:
      - script: '# Створення архіву з папки app/pdf_recon
  
  ...

pipelines/dev/terrafrom.yml:
  stages:
  - stage: Plan
    displayName: Terraform plan on dev
    jobs:
    - job: PR_Plan
      displayName: Terraform Plan on DEV
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: TerraformTaskV4@4
        inputs:
          provider: azurerm
          command: init
  ...

test pipe
  app/pdf_recog/function_app.py
  pipelines/dev/functions.yml
Due: pipelines/dev/functions.yml

test pipe
  app/pdf_recog/function_app.py
Due: pipelines/dev/functions.yml

change ignore file
  .gitignore
  app/pdf_recog/function_app.zip
Due: pipelines/dev/functions.yml

test code and trigger
  app/pdf_recog/function_app.py
  app/pdf_recog/function_app.zip
  pipelines/dev/functions.yml
Due: pipelines/dev/functions.yml

change fun pipe
  pipelines/dev/functions.yml
Due: none

change path in pipe
  pipelines/dev/functions.yml
Due: none

add new code fir funk
  app/pdf_recog/function_app.py
  app/pdf_recog/function_app.zip
  app/pdf_recog/requirements.txt
Due: pipelines/dev/functions.yml

change file path var in terrafrom
  terraform/main.tf
Due: pipelines/dev/terrafrom.yml

test work with many file
  app/pdf_recog/function_app.py
Due: pipelines/dev/functions.yml

change terr var file path
  terraform/main.tf
Due: pipelines/dev/terrafrom.yml

add work with many file
  app/pdf_recog/function_app.py
  app/pdf_recog/function_app.zip
Due: pipelines/dev/functions.yml

change terr for 2 blob storage
  terraform/main.tf
  terraform/outputs.tf
Due: pipelines/dev/terrafrom.yml

test code blob trigger
  app/pdf_recog/function_app.py
  app/pdf_recog/function_app.zip
Due: pipelines/dev/functions.yml

change v2 to v1 app
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  app/pdf_recog/.funcignore
  app/pdf_recog/.gitignore
  app/pdf_recog/.vscode/launch.json
  app/pdf_recog/.vscode/settings.json
  app/pdf_recog/.vscode/tasks.json
  app/pdf_recog/BlobTrigger1/__init__.py
  app/pdf_recog/BlobTrigger1/function.json
  app/pdf_recog/BlobTrigger1/readme.md
  app/pdf_recog/BlobTrigger1/sample.dat
  app/pdf_recog/function_app.py
  app/pdf_recog/function_app.zip
  app/pdf_recog/host.json
  app/pdf_recog/requirements.txt
Due: pipelines/dev/functions.yml

work python v1 function
  app/pdf_recog/BlobTrigger1/__init__.py
  app/pdf_recog/function_app.zip
  app/pdf_recog/requirements.txt
Due: pipelines/dev/functions.yml

change name result file
  app/pdf_recog/BlobTrigger1/__init__.py
Due: pipelines/dev/functions.yml

message function
  app/pdf_recog/function_app.zip
  app/pdf_recog/requirements.txt
  app/pdf_recog/sendMessage/__init__.py
  app/pdf_recog/sendMessage/function.json
  app/pdf_recog/sendMessage/readme.md
Due: pipelines/dev/functions.yml

terraform update and function triggers connection fix
  app/pdf_recog/BlobTrigger1/function.json
  app/pdf_recog/sendMessage/function.json
  pipelines/dev/terrafrom.yml
  terraform/main.tf
  terraform/variables.tf
Due: pipelines/dev/functions.yml, pipelines/dev/terrafrom.yml

all slack and discord env vars in terrafrom pipeline
  pipelines/dev/terrafrom.yml
Due: none

added env vars group for terrafrom pipeline
  pipelines/dev/terrafrom.yml
Due: none

terraform prod pipeline update
  pipelines/prod/terrafrom.yml
Due: none

test terrafrom pipe
  pipelines/prod/lala.txt
  terraform/outputs.tf
Due: pipelines/dev/terrafrom.yml

fix output terrafrom
  terraform/outputs.tf
Due: pipelines/dev/terrafrom.yml

add var in func pipe
  pipelines/dev/functions.yml
Due: none

test new func pipe
  app/pdf_recog/BlobTrigger1/__init__.py
  pipelines/prod/terrafrom.yml
Due: pipelines/dev/functions.yml

add prod pipe for func
  pipelines/prod/functions.yml
Due: none

test 2 pipe
  app/pdf_recog/BlobTrigger1/__init__.py
  terraform/main.tf
Due: pipelines/dev/functions.yml, pipelines/dev/terrafrom.yml

test demo commit
  app/pdf_recog/BlobTrigger1/__init__.py
  terraform/main.tf
Due: pipelines/dev/functions.yml, pipelines/dev/terrafrom.yml

Path conditions:
  pipelines/dev/functions.yml: any of: app
  pipelines/dev/terrafrom.yml: any of: terraform
